<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">

">
</head>
<body>
  <h1>Patients</h1>
  <table class="table">
    <thead>
        <tr>
            <th>Patient ID</th>
            <th>Name</th>
            <th>BirthDay</th>
            <th>Is Sick</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="patient : ${patientsList}">
            <td th:text="${patient.id}"></td>
            <td th:text="${patient.name}"></td>
            <td th:text="${patient.birthDate}"></td>
            <td th:text="${patient.isSick()}"></td>
            <td th:text="${patient.score}"></td>
        </tr>
    </tbody>
  </table>

</body>
</html>